@import "tailwindcss";
.root {
}
.cont {
  min-height: calc(100vh - 30px);
  position: relative;
  footer {
    height: 30px;
    position: absolute;
    font-size: 18px;

    bottom: 0;
  }
}

.linko {
  margin: 20px;
}
a {
  position: relative;
  width: fit-content;
  height: 50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  z-index: 2;
  text-decoration: underline;
}
